<div class='row'>
  <div class='col-md-12'>
    <h1>Student Profile</h1>    
  </div>
</div>
<div class='row'>
  <div class='col-md-8'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Hero</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @student.email %></td>
          <td><%= @student.full_name %></td>
          <td><%= formatted_phone_number(@student.phone) %></td>
          <td><%= @student.hero %></td>
          <td><%= time_ago_in_words(@student.created_at) %> ago</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Courses</th>
        </tr>
      </thead>
      <tbody>
        <% @student.courses.each do |course| %>
          <tr><td> <%= course.name %> </td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Projects</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr><td> <%= project.name %> </td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


